.header__container {
  height: 100%;
  position: relative;
}

.header__top {
  height: 12rem;
  display: flex;
  flex-direction: column;
}

.header__announcement {
  font-size: 14px;
  font-weight: 500;
  line-height: 160%;
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid var(--color-white);
}

.header__announcement {
  font-weight: 400;
}

.nav__logo-container {
  z-index: 99;
}

.header__logo {
  height: 100%;
}

.nav {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__links-container {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
}

.nav__links {
  display: flex;
  gap: 2.4rem;
  font-size: var(--f-size-normal);
}

.nav__links--black .nav__link {
  color: var(--color-black);
}

.nav__href {
  text-transform: uppercase;
  color: var(--color-white);
}
