.product {
  display: inline-block;
}

.product__img-container {
  position: relative;
  background-color: var(--color-primary);
}

.product--hot .product__img-container {
  background-color: var(--color-red);
}

.product__img {
  max-width: 411px;
  max-height: 548px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product__badge {
  height: 6rem;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background-color: var(--color-white);
  color: var(--color-primary);
  font-size: 14px;
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
}

.product__badge--opacity {
  background: var(--color-primary-light);
}

.product__link {
  position: absolute;
  left: 1.6rem;
  right: 1.6rem;
  bottom: 0;
  color: var(--color-white);
  font-size: var(--f-size-normal);
  display: block;
  border-top: 1px solid currentColor;
  padding: 0.8rem 0 1.6rem;
  text-align: center;
}

.product__price--old {
  color: #555555;
  font-weight: 300;
  opacity: 0.5;
  margin-left: 5px;
  text-decoration: line-through;
}

.product__title {
  margin: 0.4rem 0;
}

.product__title,
.product__price {
  line-height: 160%;
  font-size: var(--f-size-normal);
  font-weight: var(--f-weight-medium);
}
