:root {
  --color-primary: #7373d7;
  --color-black: #222;
  --color-white: #fff;
  --color-primary-light: #c9c9ff;
  --color-grey: #9b9b9b;
  --color-red: #f05136;
  --border-bottom-1: 1px solid var(--color-primary);
  --border-bottom-2: 2px solid var(--color-primary);
  --f-size-normal: 16px;
  --f-weight-bold: 700;
  --f-weight-semibold: 600;
  --f-weight-medium: 500;
  --f-weight-light: 300;
  --padding: 8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  color: var(--color-black);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 5px;
  background-color: var(--color-white);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 10px;
}

::-moz-selection,
::selection {
  color: var(--color-white);
  background: var(--color-primary-light);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

button {
  border: none;
  font-size: 17px;
  cursor: pointer;
  user-select: none;
}
