:root {
  --color-primary: #7373d7;
  --color-black: #000;
  --color-white: #fff;
  --border-bottom-1: 1px solid var(--color-white);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

button {
  border: none;
  font-size: 17px;
}
