.container {
  max-width: 1440px;
  padding: 0 var(--padding);
  margin: 0 auto;
}

/* FONT */
.f-size--normal {
  font-size: 16px;
}

.f-weight--bold {
  font-weight: 700;
}

.f-sub {
  font-size: 18px;
  font-weight: 600;
  line-height: 140%;
}

/* TEXT */

.t--uppercase {
  text-transform: uppercase;
}

.t--white {
  color: var(--color-white);
}

/* BUTTON */
.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn--light {
  background: var(--color-primary-light);
}

/* UTILS */
.u-rounded {
  border-radius: 100px;
}

/* SLIDER */
.slider-nav__left,
.slider-nav__right {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
}

/* LINKS */
.a-link--underlined {
  font-weight: var(--f-weight-semibold);
  border-bottom: var(--border-bottom-2);
  font-size: 18px;
}

.a-link--underlined:hover {
  color: var(--color-primary);
}
