/* HERO */

.header {
  background: url(/assets/images/home/hero.png) center top / cover no-repeat;
  min-height: 100vh;
  max-height: 1280px;
  height: 100vh;
}

.hero {
  position: absolute;
  bottom: 8rem;
  left: 0;
  right: 0;
  text-align: center;
}

.hero__sub {
  margin-bottom: 1.6rem;
}

.hero__heading {
  font-size: 80px;
  line-height: 90%;
  width: 66%;
  margin: 0 auto;
}

.hero__btn {
  display: inline-block;
  margin-top: 4.8rem;
  padding: 16px 48px;
  font-size: 17px;
}

/* PRODUCTS */

.products {
  margin-top: 10rem;
}

.products__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.products__title {
  font-size: 4rem;
  line-height: 140%;
}

.products__nav-link {
  margin-right: 2.6rem;
}

.products__nav-left {
  background-color: var(--color-grey);
}

.products__nav-right {
  margin-left: 1px;
  background-color: var(--color-primary);
}

/* ABOUT */
.about {
  padding: 8rem 0;
  text-align: center;
}

.about__title {
  font-weight: var(--f-weight-semibold);
  font-size: 3.4rem;
  line-height: 140%;
  margin: 1.6rem 0 5.6rem;
}

.about__title--dashed {
  display: inline-block;
  color: var(--color-primary);
  border-bottom: 2px dashed currentColor;
}

.about__makeup {
  padding: 3.2rem 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about__makeup-title {
  font-size: 1.8rem;
  font-weight: var(--f-weight-medium);
  text-transform: uppercase;
  margin: 22px 0 8px;
  line-height: 140%;
}

.about__makeup-img {
  max-height: 125px;
  max-width: 125px;
}

.about__makeup-desc {
  font-size: 14px;
  line-height: 160%;
}

/* COLLECTIONS */
.collections {
  padding: 8rem 0;
  background-color: var(--color-primary);
}

.collections * {
  color: var(--color-white);
}

.collections__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collections__title {
  font-weight: var(--f-weight-medium);
  font-size: 5.2rem;
  line-height: 140%;
}

.collections__nav-left {
  background-color: var(--color-primary-light);
}

.collections__nav-right {
  margin-left: 1px;
  background-color: var(--color-white);
}

.collections__nav-right img {
  filter: invert(63%) sepia(56%) saturate(5109%) hue-rotate(214deg)
    brightness(88%) contrast(90%);
}

.collections__info {
  font-weight: var(--f-weight-medium);
  font-size: 20px;
  max-width: 63rem;
  line-height: 160%;
}

.collections__list {
  margin-top: 2.4rem;
}

.collection__img {
  max-height: 62.8rem;
  max-width: 62.8rem;
  object-fit: cover;
}

.collection__title {
  font-weight: var(--f-weight-semibold);
  font-size: 2.4rem;
  line-height: 140%;
  margin-top: 2.2rem;
}

/* STORY */
.story__container {
  padding: 0;
  display: flex;
}

.story--reverse .story__container {
  flex-direction: row-reverse;
}

.story__rich-text,
.story__img {
  width: 50%;
  max-height: 90rem;
  object-fit: cover;
}

.story__rich-text {
  padding: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.story__title {
  font-weight: var(--f-weight-semibold);
  font-size: 4rem;
  line-height: 140%;
  padding: 2.4rem 0;
}

.story__desc {
  font-size: var(--f-size-normal);
  padding-bottom: 40px;
  line-height: 160%;
}

.story__sub {
  color: var(--color-primary);
}

/* FEATURING */
.featuring__container {
  margin-top: 1px;
  padding: 0;
  display: flex;
  align-items: center;
  position: relative;
}

.featuring__rich-text {
  left: var(--padding);
  position: absolute;
  padding: 4rem;
  background-color: var(--color-primary);
  border-radius: 15px;
  width: calc(50% - var(--padding));
  max-width: 70rem;
}

.featuring__rich-text * {
  color: var(--color-white);
}

.featuring__img {
  width: 100%;
  height: 72rem;
  object-fit: cover;
}

.featuring__title {
  font-weight: var(--f-weight-medium);
  font-size: 5.2rem;
  line-height: 140%;
  margin: 16px 0;
}

.featuring__desc {
  font-size: var(--f-size-normal);
  line-height: 160%;
  margin-bottom: 40px;
}

.featuring__btn {
  display: inline-block;
  padding: 16px 48px;
  font-size: 17px;
  color: var(--color-primary);
}

/* GALLERY */
.gallery {
  padding: var(--padding) 0;
}

.gallery__container {
  display: flex;
  gap: 2.4rem;
  justify-content: center;
}

.gallery__item {
  max-width: 50%;
  position: relative;
}

.gallery__img {
  width: 100%;
  max-height: 85rem;
  object-fit: cover;
}

.gallery__text {
  position: absolute;
  bottom: 4rem;
  left: 4rem;
  right: 4rem;
}

.gallery__title {
  font-weight: var(--f-weight-semibold);
  font-size: 5.2rem;
  color: var(--color-white);
  line-height: 140%;
  margin-bottom: 2.4rem;
}

.gallery__link {
  color: var(--color-white);
}

/* BRANDS */
.brands {
  background-color: var(--color-primary);
  padding: var(--padding) 0 4rem;
}

.brands__title {
  text-align: center;
  font-weight: var(--f-weight-semibold);
  font-size: 2rem;
  line-height: 140%;
}

.brands__list {
  display: flex;
  justify-content: center;
  gap: 2.4rem;
}
