/* HERO */
:root {
  --app-height: 100vh;
}

.header {
  background: url(/assets/images/home/hero.png) center top / cover no-repeat;
  min-height: var(--app-height);
  max-height: 1280px;
  height: var(--app-height);
}

.hero {
  position: absolute;
  bottom: 8rem;
  left: 0;
  right: 0;
  text-align: center;
}

.hero__sub {
  margin-bottom: 1.6rem;
}

.hero__heading {
  font-size: 8rem;
  line-height: 90%;
  width: 66%;
  margin: 0 auto;
}

.hero__btn {
  display: inline-block;
  margin-top: 4.8rem;
  padding: 16px 48px;
  font-size: 17px;
}

/* PRODUCTS */
.products {
  margin-top: 10rem;
}

/* ABOUT */
.about {
  padding: 8rem 0;
  text-align: center;
}

.about__title {
  font-weight: var(--f-weight-semibold);
  font-size: 3.4rem;
  line-height: 140%;
  margin: 1.6rem 0 5.6rem;
}

.about__title--dashed {
  display: inline-block;
  color: var(--color-primary);
  border-bottom: 2px dashed currentColor;
}

.about__makeups {
  display: flex;
  align-items: flex-start;
}

.about__makeups::-webkit-scrollbar {
  height: 2px;
  background-color: #00000025;
}

.about__makeups::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 10px;
}

.about__makeup {
  flex: 1 0 25%;
  padding: 3.2rem 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  user-select: none;
}

.about__makeup-title {
  font-size: 1.8rem;
  font-weight: var(--f-weight-medium);
  text-transform: uppercase;
  margin: 22px 0 8px;
  line-height: 140%;
}

.about__makeup-img {
  max-height: 125px;
  max-width: 125px;
}

.about__makeup-desc {
  font-size: 14px;
  line-height: 160%;
}

/* COLLECTIONS */
.collections {
  padding: 8rem 0;
  background-color: var(--color-primary);
}

.collections * {
  color: var(--color-white);
}

.collections__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collections__title {
  font-weight: var(--f-weight-medium);
  font-size: 5.2rem;
  line-height: 140%;
}

.collections__nav-left {
  background-color: var(--color-primary-light);
}

.collections__nav-right {
  margin-left: 1px;
  background-color: var(--color-white);
}

.collections__nav-right img {
  filter: invert(63%) sepia(56%) saturate(5109%) hue-rotate(214deg)
    brightness(88%) contrast(90%);
}

.collections__info {
  font-weight: var(--f-weight-medium);
  font-size: 20px;
  max-width: 63rem;
  line-height: 160%;
}

.collections__list {
  margin-top: 2.4rem;
}

.collection__img {
  max-height: 62.8rem;
  max-width: 62.8rem;
  object-fit: cover;
}

.collection__title {
  font-weight: var(--f-weight-semibold);
  font-size: 2.4rem;
  line-height: 140%;
  margin-top: 2.2rem;
}

/* STORY */
.story__container {
  padding: 0;
  display: flex;
}

.story--reverse .story__container {
  flex-direction: row-reverse;
}

.story__rich-text,
.story__img {
  width: 50%;
  height: 80rem;
  max-height: 100vh;
  object-fit: cover;
}

.story__rich-text {
  padding: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.story__title {
  font-weight: var(--f-weight-semibold);
  font-size: 4rem;
  line-height: 140%;
  padding: 2.4rem 0;
}

.story__desc {
  font-size: var(--f-size-normal);
  padding-bottom: 40px;
  line-height: 160%;
}

.story__sub {
  color: var(--color-primary);
}

/* FEATURING */
.featuring__container {
  margin-top: 1px;
  padding: 0;
  display: flex;
  align-items: center;
  position: relative;
}

.featuring__rich-text {
  left: var(--padding);
  position: absolute;
  padding: 4rem;
  background-color: var(--color-primary);
  border-radius: 15px;
  width: calc(50% - var(--padding));
  max-width: 70rem;
}

.featuring__rich-text * {
  color: var(--color-white);
}

.featuring__img {
  width: 100%;
  height: 72rem;
  max-height: 100vh;
  object-fit: cover;
}

.featuring__title {
  font-weight: var(--f-weight-medium);
  font-size: 5.2rem;
  line-height: 140%;
  margin: 1.6rem 0;
}

.featuring__desc {
  font-size: var(--f-size-normal);
  line-height: 160%;
  margin-bottom: 4rem;
}

.featuring__btn {
  display: inline-block;
  padding: 16px 48px;
  font-size: 17px;
  color: var(--color-primary);
}

/* GALLERY */
.gallery {
  padding: var(--padding) 0;
}

.gallery__container {
  display: flex;
  gap: 2.4rem;
  justify-content: center;
}

.gallery__item {
  max-width: 50%;
  position: relative;
}

.gallery__img {
  width: 100%;
  max-height: 100vh;
  object-fit: cover;
}

.gallery__text {
  position: absolute;
  bottom: 4rem;
  left: 4rem;
  right: 4rem;
}

.gallery__title {
  font-weight: var(--f-weight-semibold);
  font-size: 5.2rem;
  color: var(--color-white);
  line-height: 140%;
  margin-bottom: 2.4rem;
}

.gallery__link {
  color: var(--color-white);
}

/* BRANDS */
.brands {
  background-color: var(--color-primary);
  padding: var(--padding) 0 4rem;
}

.brands__title {
  text-align: center;
  font-weight: var(--f-weight-semibold);
  font-size: 2rem;
  line-height: 140%;
}

.brands__list {
  display: flex;
  justify-content: center;
  gap: 2.4rem;
}

.brand__img {
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  .about__makeups {
    overflow-x: scroll;
    cursor: grab;
  }

  .about__makeup {
    flex: 1 0 30%;
  }
}

@media only screen and (max-width: 1000px) {
  .hero__heading {
    font-size: 7rem;
  }

  .about__makeup {
    flex: 1 0 40%;
  }

  .collection {
    max-width: 60rem;
    width: 70vw;
  }

  .featuring__rich-text {
    padding: 3rem;
  }

  .gallery__text {
    bottom: 3rem;
    left: 3rem;
    right: 3rem;
  }

  .gallery__title {
    font-size: 4.2rem;
  }
}

@media only screen and (max-width: 850px) {
  .story .story__container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .story__rich-text,
  .story__img {
    width: 100%;
    height: auto;
    max-width: 65rem;
    max-height: 60rem;
  }

  .story__rich-text {
    padding: 4rem;
  }

  .featuring__container {
    flex-direction: column;
  }

  .featuring__img {
    height: 50rem;
    object-position: right;
  }

  .featuring__rich-text {
    position: static;
  }

  .featuring__rich-text {
    position: static;
    border-radius: 0;
    width: 100%;
    max-width: max-content;
  }

  .brands__list {
    flex-wrap: wrap;
  }

  .brand {
    width: calc((98% - var(--padding)) / 2);
    max-height: 20rem;
  }

  .brand__img {
    height: 100%;
    object-fit: cover;
  }
}

@media only screen and (max-width: 700px) {
  .hero {
    bottom: 5rem;
  }

  .hero__heading {
    font-size: 6rem;
    padding: 0 1rem;
    width: 100%;
  }

  .hero__btn {
    margin-top: 3rem;
  }

  .product__link {
    display: none;
  }

  .about__title {
    font-size: 2.8rem;
  }

  .about__makeup {
    flex: 1 0 55%;
  }

  .collections__title {
    font-size: 4rem;
  }

  .story__title {
    font-size: 3rem;
  }

  .featuring__img {
    height: 40rem;
  }

  .featuring__title {
    font-size: 4rem;
  }

  .gallery__container {
    flex-direction: column;
    align-items: center;
  }

  .gallery__item {
    max-width: 45rem;
  }
}

@media only screen and (max-width: 450px) {
  .about__makeup {
    flex: 1 0 83%;
  }

  .featuring__img {
    height: 100vw;
    object-position: 77%;
  }

  .featuring__rich-text {
    padding: 2rem;
    padding-bottom: 4rem;
  }
}
