/* INGREDIENTS */
.ingredients__container {
  padding: 0;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr calc(50% - var(--padding));
  border-bottom: 1px solid #7373d744;
  border-top: 1px solid #7373d744;
}

.ingredients__img-container {
  height: 100%;
}

.ingredients__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.ingredients__content {
  padding: 6rem var(--padding);
  text-align: center;
}

.ingredients__title {
  font-weight: var(--f-weight-semibold);
  font-size: 4rem;
  line-height: 140%;
}

.ingredients__info {
  font-size: 14px;
  line-height: 160%;
  margin-top: 2.4rem;
  margin-bottom: 6.2rem;
}

.ingredients__list {
  display: grid;
  gap: 2.4rem;
  margin-bottom: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
}

.ingredient {
  background-color: #e9e9ff;
  padding: 4rem 0.5rem;
}

.ingredient__title {
  font-weight: var(--f-weight-medium);
  font-size: 14px;
  line-height: 160%;
  text-transform: uppercase;
  margin-top: 1.6rem;
}

/* PRODUCTS */
.products {
  padding: 12rem 0 9.7rem;
}
.products__nav {
  justify-content: center;
}

/* RESUTLS */
.results {
  background-color: #9292ff;
  padding: 8rem 0;
}

.results__container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2rem;
}

.results__sub {
  font-weight: var(--f-weight-medium);
}

.results__title {
  font-size: 4rem;
  font-weight: var(--f-weight-semibold);
  line-height: 140%;
  margin: 8px 0 16px;
}

.results__nav-left {
  background-color: var(--color-primary-light);
}

.results__nav-right {
  margin-left: 1px;
  background-color: var(--color-white);
}

.results__nav-right img {
  filter: invert(63%) sepia(56%) saturate(5109%) hue-rotate(214deg)
    brightness(88%) contrast(90%);
}
.results__list {
  overflow: hidden;
}
.result__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 1200px) {
  .ingredients__container {
    display: block;
    max-width: 80rem;
  }
  .ingredients__img-container {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .products__header {
    flex-direction: row;
  }

  .results__container {
    display: block;
  }

  .results__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .results__title {
    order: 1;
    flex: 1 0 100%;
  }
}

@media only screen and (max-width: 700px) {
  .main__sections-wrapper {
    display: flex;
    flex-direction: column;
  }

  .ingredients {
    order: 1;
    border-top: 1px solid #42210b40;
  }
  .ingredients__container {
    border: none;
  }
  .ingredients__content {
    text-align: left;
  }
  .ingredients__list {
    display: block;
  }
  .ingredients__info {
    margin: 16px 0 25px;
  }

  .ingredient:first-child {
    border-top: 1px solid #42210b40;
  }
  .ingredient {
    position: relative;
    display: flex;
    align-items: center;
    background-color: transparent;
    border-bottom: 1px solid #42210b40;
    padding: 16px;
  }

  .ingredient::after {
    content: url(/assets/images/icons/chevron-down.svg);
    position: absolute;
    right: 16px;
  }

  .ingredient__title {
    margin-top: 0;
    margin-left: 2.4rem;
  }
  .ingredient__img {
    height: 5rem;
    width: 5rem;
  }

  .products__nav {
    display: none;
  }

  .results__title {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 450px) {
  .breadcrumb {
    display: none;
  }
  .result {
    height: 340px;
    width: 255px;
  }
}
